<%- include('./header', {css:'css/style.css',title:title}) %>
<h1 id="disclaimer">免責事項</h1>
<p>このサービスは個人が作成・管理・運営するものです。<br>
このサービスによって生じたいかなる損害等に関して、こちらは責任を負いかねます。<br>
ちなみに、時間的な問題でこのサービスはデータベースを使用していません。まあ、そこら辺のところお察しください。
</p>