html,body{
    position: absolute;
    width: 100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
header{
    position: absolute;
    top:0;
    width:100%;
    height:10%;
    background-color: #01579b;
}
form{
    width:80vmin;
}
.center{
    text-align: center
}
#title{
    margin-top:10px;
    margin-left:10px;
    color: white;
    font-size: 4vh;
}
#discription{
    font-size: 18px;
}
#credit{
    position: absolute;
    bottom:0;
    right:0;
}
#disclaimer{
    font-size: 30px;
}
